In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as px
import pandas as pd

In [2]:
df_round1 = pd.read_csv("archive\Round_1.csv")

In [3]:
df_round1.head()

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9462,12911
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16218,19272
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,1977
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3056,3056
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4014,4642

In [4]:
df_round1= df_round1[~df_round1['Seat Type'].str.contains('PwD')]

In [5]:
df_round1 = df_round1.reset_index(drop=True)

In [6]:
df_round1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9485 entries, 0 to 9484
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Institute              9485 non-null   object
 1   Academic Program Name  9485 non-null   object
 2   Quota                  9485 non-null   object
 3   Seat Type              9485 non-null   object
 4   Gender                 9485 non-null   object
 5   Opening Rank           9485 non-null   object
 6   Closing Rank           9485 non-null   object
dtypes: object(7)
memory usage: 518.8+ KB

In [7]:
x = df_round1["Academic Program Name"].nunique()
print(f"There are total of {x} academic programs offered through Josaa.")

There are total of 211 academic programs offered through Josaa.

In [8]:
df_round1['Opening Rank'] = df_round1['Opening Rank'].str.replace(r'P', '', regex=True)

In [9]:
df_round1['Opening Rank'] = pd.to_numeric(df_round1['Opening Rank'])

In [10]:
df_round1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9485 entries, 0 to 9484
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Institute              9485 non-null   object
 1   Academic Program Name  9485 non-null   object
 2   Quota                  9485 non-null   object
 3   Seat Type              9485 non-null   object
 4   Gender                 9485 non-null   object
 5   Opening Rank           9485 non-null   int64
 6   Closing Rank           9485 non-null   object
dtypes: int64(1), object(6)
memory usage: 518.8+ KB

In [11]:
df_round1['Closing Rank'] = df_round1['Closing Rank'].str.replace(r'P', '', regex=True)

In [12]:
df_round1['Closing Rank'] = pd.to_numeric(df_round1['Closing Rank'])

In [13]:
df_round1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9485 entries, 0 to 9484
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Institute              9485 non-null   object
 1   Academic Program Name  9485 non-null   object
 2   Quota                  9485 non-null   object
 3   Seat Type              9485 non-null   object
 4   Gender                 9485 non-null   object
 5   Opening Rank           9485 non-null   int64
 6   Closing Rank           9485 non-null   int64
dtypes: int64(2), object(5)
memory usage: 518.8+ KB

In [14]:
sorted_opening = df_round1.sort_values(by='Opening Rank')

In [15]:
sorted_opening

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
186,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,ST,Gender-Neutral,1,10
178,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Gender-Neutral,1,66
8949,"School of Planning & Architecture, New Delhi","Architecture (5 Years, Bachelor of Architecture)",AI,ST,Gender-Neutral,1,23
184,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,SC,Gender-Neutral,2,25
3821,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,SC,Gender-Neutral,5,145
...,...,...,...,...,...,...,...
6063,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",HS,OPEN,Gender-Neutral,556736,742762
6033,"National Institute of Technology, Mizoram","Electrical Engineering (4 Years, Bachelor of T...",HS,OPEN,Female-only (including Supernumerary),560594,614925
6045,"National Institute of Technology, Mizoram",Electronics and Communication Engineering (4 Y...,HS,OPEN,Gender-Neutral,573968,684517
6046,"National Institute of Technology, Mizoram",Electronics and Communication Engineering (4 Y...,HS,OPEN,Female-only (including Supernumerary),589620,755659
6064,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",HS,OPEN,Female-only (including Supernumerary),659805,758764

In [16]:
nit_trichy = df_round1[df_round1["Institute"] == "National Institute of Technology, Tiruchirappalli"]

In [17]:
nit_trichy.nunique()

Institute                  1
Academic Program Name     10
Quota                      2
Seat Type                  5
Gender                     2
Opening Rank             192
Closing Rank             193
dtype: int64

In [18]:
sorted_NIT_TRICHY = nit_trichy.sort_values(by='Opening Rank')

In [19]:
sorted_NIT_TRICHY.head()

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
6717,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,SC,Female-only (including Supernumerary),13,13
6726,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",OS,ST,Gender-Neutral,21,21
6727,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",OS,ST,Female-only (including Supernumerary),26,26
6725,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",OS,SC,Female-only (including Supernumerary),29,29
6783,"National Institute of Technology, Tiruchirappalli","Computer Science and Engineering (4 Years, Bac...",OS,SC,Gender-Neutral,39,268

In [ ]:
open_NIT_trichy = [df['Category'] == target_category]